extends layout

block content
  h1= title
  p= message
  div
    a(class='button', href='/threads/first') First thread
  div
    a(class='button', href='/threads/list') List of threads
  br
  div
    a(href='/') Try another account
