doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href='https://www.nylas.com/hubfs/favicon64.png?t=1518776714856')
  body
    block content